#container{
    font-weight: bold;
    text-align: center;
    font: Arial, sans-serif;
    font-size: 1.5rem;
}

input{
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}
input[type=checkbox]{
    margin: 30px 10px;
    scale:1.2;
}

button{
    height:50px;
    width: 200px;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    background-color: hsl(200, 100%, 50%);
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: hsl(200, 100%, 60%);
}
button:active{
    background-color: hsl(200, 100%, 70%);
}