body{
    background-image: url('../resources/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: Open Sans;
    overflow: hidden;
}

#title{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: White;
    font-size: 3rem;
    margin-bottom: 10rem;
}
#main{
    height: 100vh;
}

h1{
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(5px);
    padding: 10px 15px;
    width: 70%;
}
#startBtn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: hsl(120, 100%, 40%);
    color: white;
    background-image: url('../resources/play-button-arrowhead.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    transition: .5s background-color ease;
}

#startBtn:hover{
    background-color: hsl(120, 100%, 50%);
}

.popup{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.856);
    height: 20rem;
    width: 40rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#close{
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 37.5rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 100%, 50%);
    color: white;
    font-style: bold;
    font-size: 1.2rem;
    margin-bottom: 50px;
    transition: .5s background-color ease;
}

#close:hover{
    background-color: hsl(0, 100%, 60%);
}

.hidden{
    display: none;
}


#continue{
    position: relative;
    top: 100px;
    left: 17rem;
    width: 100px;
    height: 50px;
    background-color: hsl(84, 100%, 59%);
    transition: .1s transform ease-in-out;
}
#continue:hover{
    background-color: hsl(84, 100%, 49%);
    transform: scale(1.1);
}