

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    display: flex;
    align-items: center;
    height: 200px;
    width: 90vw;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.419);
}
img{
    margin-left: 30px;
    height: 10vh;
}